@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Puls Jakarta Sans';
  src: url('../../public/font/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {

  overflow-x: hidden; /* Eliminando el scroolbar horizontal */
}
.font-puls-jakarta-sans {
  font-family: 'Puls Jakarta Sans', sans-serif;
}

.logo-image {
  width: 180px;
  height: 40px; /* Establece la altura deseada */
  max-width: 100%; /* Garantiza que la imagen se ajuste proporcionalmente al ancho del contenedor */
  
}
.menu-item {
  font: inherit;
  
}

.menu-item.active {
  /* Estilos específicos cuando el elemento está activo/hover */
  border-bottom: 2px solid #3bb24d;
}

.menu-item.button {

  background-color: #0a6a33; /* Añade el color hexadecimal deseado */
}

.hover-button.button {

  background-color: #ce0202; /* Añade el color hexadecimal deseado */
}

.hover-create.button {

  background-color: #e38a03; /* Añade el color hexadecimal deseado */
}

.hover-edit.button {

  background-color: #365aaf; /* Añade el color hexadecimal deseado */
}
.hover-show.button {

  background-color: #15a32b; /* Añade el color hexadecimal deseado */
}
.hover-delete.button {

  background-color: #ce0202; /* Añade el color hexadecimal deseado */
}
/* lista de cards */
.animate-slide-in {
  background-color: #a3d5ac; /* O cualquier otro estilo que sea fácilmente visible */
  transition: background-color 0.5s ease; /* Ajusta la duración y el easing según sea necesario */
}


/* la animacion scrooll */
.scroll-animation {
  opacity: 0; /* Comienza con opacidad 0 para que la animación sea de fade-in */
  transform: translateY(20px); /* Empieza ligeramente desplazado hacia abajo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Ajusta la duración y easing según sea necesario */
}

.scroll-animation.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Animación de entrada desde la izquierda */
/* Animación de entrada desde la izquierda */
.scroll-animation-left {
  opacity: 0;
  transform: translateX(-20px); /* Empieza ligeramente desplazado hacia la izquierda */
  transition: opacity 0.5s ease, transform 0.5s ease-in-out; /* Ajusta la duración y easing según sea necesario */
}

.scroll-animation-left.visible-left {
  opacity: 1;
  transform: translateX(0);
}

/* Animación de entrada desde la derecha */
.scroll-animation-right {
  opacity: 0;
  transform: translateX(20px); /* Empieza ligeramente desplazado hacia la derecha */
  transition: opacity 0.5s ease, transform 0.5s ease-in-out; /* Ajusta la duración y easing según sea necesario */
}

.scroll-animation-right.visible-right {
  opacity: 1;
  transform: translateX(0);
}




/* Estilos para galeria rotacion */
.box {
  position: relative;
  width: 100%; /* Cambiado a un ancho del 100% */
  max-width: 400px; /* Cambiado a un ancho máximo de 400px */
  height: auto; /* Cambiado a una altura automática */
  padding-bottom: 100%; /* Proporción 1:1 para mantener un cuadrado */
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

.box-slider {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
      transform: perspective(1000px) rotateY(0deg);
  }
  100% {
      transform: perspective(1000px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)* 45deg)) translateZ(50vw); /* Cambiado el valor de translateZ para que sea relativo al ancho de la pantalla */
  -webkit-box-reflect: below 0px linear-gradient(transparent,transparent, #0004);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* spinner circular personalizado */
.spinner {
  width: 80px;
  height: 80px;
  border: 20px solid rgba(255, 255, 255, 0.1);
  border-top-color: #ce0202;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Opcional: establece la altura de la ventana completa */
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* calendario*/
.rbc-event {
  background: yellow;
  padding: 10px;
}

.rbc-active {
  background: yellow !important;
  padding: 10px;
}

.rbc-day-bg {
  background: wheat;
  padding: 40px;
}
.calendarContainer {
  /* Agrega estilos para el contenedor del calendario */
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}



/* card de la agenda para ver tipo*/
.cardContainer {
  display: flex;
  justify-content: flex-start; /* Alinear al inicio (izquierda) */
  padding: 20px; /* Añadir relleno */
}

.card {
  background-color: #ffffff; /* Color de fondo */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Añadir relleno */
}

.floatingActionButton {
  display: flex;
  flex-direction: column;
}

.actionItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espacio entre elementos */
}

.actionItem span {
  margin-left: 10px; /* Espacio entre ícono y texto */
}

/* color del pintado en el calendario */

.highlighted-birthday {
  background-color: orange !important;
  color: white !important;
}


.highlighted-birthday {
  background-color: orange !important;
  color: white !important;
}
.highlighted-turno {
  background-color: purple !important;
  color: white !important;
}
.highlighted-agenda-pendiente {
  background-color: green !important;
  color: white !important;
}
.highlighted-agenda-confirmada {
  background-color: red !important;
  color: white !important;
}


.calendarContainerFloat {
  display: flex;
  flex-direction: column;
}

.titleFloat {
  margin-left: 45px;
}

.contentFloat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardFloat {
  width: 45%; /* ajusta el tamaño del card */
  background: -webkit-linear-gradient(90deg,#039140,#38ad46,#57ff92); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(90deg,#039140,#38ad46,#57ff92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Añadir relleno */
  margin-left: 40px; /* Mueve el card hacia la derecha */
}

.calendarFloat {
  width: 45%; /* ajusta el tamaño del calendario */
  
}

@media screen and (max-width: 768px) {
  .contentFloat {
    flex-direction: column; /* Cambia a una disposición de columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .cardFloat, .calendarFloat {
    width: 80%; /* Establece un ancho del 80% en pantallas pequeñas */
    max-width: 400px; /* Establece un ancho máximo de 400px */
    margin: 20px auto; /* Centra horizontalmente y añade espacio entre los elementos */
  }
}



/* menu sidibar */
  /* Estilos de la barra lateral */
  .sidebar {
    width: 60px;
    height: 100%;
    background-color: #222;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
    transition: width 0.75s ease;
  }

  .sidebar.open {
    width: 200px;
  }

  .sidebar-menu {
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px 0;
    cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
  }

  .menu-text {
    margin-left: 10px; /* Espacio entre el icono y el texto */
    transition: opacity 0.3s; /* Transición de opacidad */
  }

  /* Cambia el color de fondo al pasar el mouse sobre los elementos */
  .sidebar-menu:hover {
    background-color: #333;
  }

  /* Cambia el color del texto al pasar el mouse sobre los elementos */
  .sidebar-menu:hover .menu-text {
    color: #fff;
  }

  /* fin de sidibar*/

  /*foote*/
  .icon:hover {
    transform: scale(1.2); /* Cambia el tamaño del icono al pasar el mouse sobre él */
    transition: transform 0.3s ease; /* Agrega una transición suave al efecto de hover */
  }
  



  /* estilo de card de eventos */
  /*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(244, 47%, 26%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    /*--container-color: hsl(0, 0%, 100%); */
    --container-color: #379a49;
    
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 20px;
    --small-font-size: 13.008px;

    /* chico responsive*/
    --h2-font-size-responsive: 2px;
    --small-font-size-responsive: 2.008px;
  }

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
    :root {
      --h2-font-size: 24px;
      --small-font-size: 14px;
    }
  }



/* cards.css */
.cards-events .container {
  /* Estilos para el contenedor del componente CardsEvents */
  display: grid;
  place-items: center;
  margin-inline: 24px;
  padding-block: 80px;
}

.cards-events .card__container {
  /* Estilos para el contenedor de las tarjetas */
  display: grid;
  row-gap: 56px;
}

.cards-events .card__article {
  /* Estilos para cada artículo de tarjeta */
  position: relative;
  overflow: hidden;
}

.cards-events .card__img {
  /* Estilos para las imágenes de las tarjetas */
  width: 300px;
  border-radius: 24px;
}

.cards-events .card__data {
  /* Estilos para los datos de las tarjetas */
  width: 280px;
  background-color: var(--container-color);
  padding: 24px 32px;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 16px;
  position: absolute;
  bottom: -144px;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.cards-events .card__description {
  /* Estilos para la descripción de la tarjeta */
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4px;
}

.cards-events .card__title {
  /* Estilos para el título de la tarjeta */
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 12px;
}

.cards-events .card__button {
  /* Estilos para el botón de la tarjeta */
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.cards-events .card__button:hover {
  /* Estilos para el botón de la tarjeta en el estado de hover */
  text-decoration: underline;
}

/* Animaciones */
.cards-events .card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.cards-events .card__article:hover {
  animation: remove-overflow 2s forwards;
}

.cards-events .card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.cards-events .card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
      transform: translateY(-160px);
  }
  100% {
      transform: translateY(-112px);
  }
}

@keyframes remove-overflow {
  to {
      overflow: initial;
  }
}

@keyframes remove-data {
  0% {
      transform: translateY(-112px);
  }
  50% {
      transform: translateY(-160px);
  }
  100% {
      transform: translateY(8px);
  }
}

@keyframes show-overflow {
  0% {
      overflow: initial;
      pointer-events: none;
  }
  50% {
      overflow: hidden;
  }
}

/* Breakpoints */
@media screen and (max-width: 430px) {
  /* Estilos para dispositivos pequeños */

  /* Estilos para dispositivos pequeños */
  .cards-events .container {
    margin-inline: 16px;
}

.cards-events .card__data {
    width: 200px; /* modificar el tamaño del card q sale del card eventos*/
    padding: 16px;
}

  
}



@media screen and (min-width: 768px) {
  /* Estilos para dispositivos medianos */

  .events-carousel-container {
    /* Estilos para pantallas grandes */
    margin: '0 auto';
    max-width: calc(100% - 6rem);
  }/* Estilos para dispositivos medianos */
  .cards-events .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}

}

@media screen and (min-width: 1120px) {
  /* Estilos para dispositivos grandes */
  .cards-events .container {
      height: 70vh;
      margin: '0 auto';
    max-width: calc(100% - 18rem);
    
  }

  .cards-events .card__container {
      grid-template-columns: repeat(3, 1fr);
  }

  .cards-events .card__img {
      width: 240px;
  }

  .cards-events .card__data {
      width: 216px;
      padding-inline: 40px;
  }
}

.overflow-scroll {
  /* Estilos para contenedor de desplazamiento */
  overflow-y: scroll;
  max-height: 300px; /* Ajusta la altura máxima según sea necesario */
}


.custom-paging-container {
  margin-bottom: 0.25rem; /* Ajusta el valor según sea necesario */
}


/* dropbutton*/
.select-custom {
  background-color: #3bb24d; /* Color de fondo deseado */
  color: white; /* Color del texto */
}


/* Responsive section agenda reserva */
@media (max-width: 768px) {
  .contentFloat {
    display: flex;
    flex-direction: column;
  }

  .calendarFloat {
    margin-top: 30px; /* Ajusta el espacio entre el card y el calendario */
  }
}


/* cards de eventos */
/* cards de eventos */
.backgroundColorEventos {
  margin: 0;
  width: 100%;
  height: auto; /* Ajustar la altura automáticamente según el contenido */
}

/* CARD-LIST */
.carousel-container {
  padding: 50px;
}

.cardListItemEventos {
  box-shadow: -2rem 0 3rem -2rem #000;
  background: -webkit-linear-gradient(180deg, #039140,#38ad46,#57ff92);background: linear-gradient(180deg, #039140,#38ad46,#57ff92);
  height: 350px;
  width: 300px;
  transition: 0.5s ease;
  border-radius: 15px;
  margin: 20px; 
}

.cardListItemEventos:hover {
  transform: translate(-10px, -20px) rotate(3.5deg);
}

/* INSIDE-CARD-ITEM */
.cardItemContentEventos {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

/* Header */
.cardItemContentHeaderEventos {
  display: flex;
}

.cardItemContentHeaderArticleEventos {
  /*font-weight: bolder; */
  /*font-family: "Times New Roman", Times, serif;*/
  color: #d4d4d4;
  font-size: 140%;
}

.cardItemContentHeaderDateEventos {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: #777777;
  font-size: 120%;
}

/* Heading Clause */
.cardItemContentHeadingEventos {
 /* font-family: Arial, Helvetica, sans-serif;*/
 /* font-weight: bolder;*/
  color: white;
  font-size: 70%;
  margin: 0;
}

/* Genre */
.cardItemContentGenreSectionEventos {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cardItemContentGenreItemEventos {
  color:  #e5dede;  /* font de color del precio */
  font-weight: bold;
  padding-left: 3px;
  margin: 0;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}

/* Publisher Section */
.cardItemContentPublisherSectionEventos {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.cardItemContentPublisherSectionEventos img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cardItemContentPublisherSectionEventos h1 {
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  color: #d4d4d4;
  font-size: 120%;
  text-transform: capitalize;
}

/* Custom dots */
.custom-dot-list-style {
  bottom: -50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.custom-dot-list-style li {
  display: inline-block;
  margin: 0 5px;
}

.custom-dot-list-style li button {
  border: none;
  background: #3bb24d;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px;
}

.custom-dot-list-style li.slick-active button {
 background: #ff7a18;

}


/* deudas fondo del card*/

.background-gradient {
  background: -webkit-linear-gradient(137deg, #039140, #38ad46, #57ff92);
  background: linear-gradient(137deg, #039140, #38ad46, #57ff92);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
}

@media screen and (max-width: 768px) {

  .scroll-animation-left, .scroll-animation-right {
    width: 100%;
  }

  .card-responsive {
    width: 100vw;
    height: 100vw; /* Haz que el card sea cuadrado */
  }

  .background-gradient {
    width: 100%;
    height: 100%;
    transform: none;
  }
}
