[data-color-mode*='dark'] .login-page2, .login-page2 {
  --login-bg: linear-gradient(-135deg,#cf95b4,#b40b19);
  --login-color: #333;
  --login-inner-bg: #fff;
  --login-input: #666;
  --login-input-bg: #e6e6e6;
  --login-input-placeholder: #999999;
  --login-btn: #fff;
  --login-btn-bg: #57b846;
  --login-btn-bg-focus: #57b846;
  --login-btn-bg-hover: #333;
  --login-btn-bg-active: #57b846;
}
[data-color-mode*='light'] .login-page2 {
  --login-bg: linear-gradient(-135deg,#cf95b4,#b40b19); /* gradiente de color*/
  --login-color: #333;
  --login-inner-bg: #fff;
  --login-input: #666;
  --login-input-bg: #e6e6e6;
  --login-input-placeholder: #999999;
  --login-btn: #fff;
  --login-btn-bg: #57b846;
  --login-btn-bg-focus: #57b846;
  --login-btn-bg-hover: #333;
  --login-btn-bg-active: #57b846;
}

.login-page2 {
  --login-line-height: 1.5;
  line-height: var(--login-line-height);
  background: var(--login-bg);
  color: var(--login-color);
  height: auto;
  min-height: 100%;
  display: flex;
  font-size: 16px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page2-inner {
  width: 960px;
  min-height: 500px;
  background: var(--login-inner-bg);
  border-radius: 10px;
  overflow: hidden;
  --gap: 0.87rem;
  gap: var(--gap);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 33px 130px 33px 95px;
}

.login-page2-inner > aside {
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}

.login-page2-inner > aside img {
  background-color: transparent;
}

.login-page2-inner > main {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: relative;
}

.login-page2-inner > main > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  padding-bottom: 2rem;
}

.login-page2-inner > main > header svg {
  display: block;
}
.login-page2-inner > main > header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
}

.login-page2-inner > main > aside {
  text-align: center;
  font-size: 14px;
}
.login-page2-inner > main > label {
  display: block;
}
.login-page2-inner > main > label input {
  color: var(--login-input);
  display: block;
  width: 100%;
  background: var(--login-input-bg);
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
  outline: none;
  border: none;
  font-weight: bold;
}

.login-page2-inner input::placeholder {
  color: var(--login-input-placeholder);
}
.login-page2-inner > main > label input:focus {
  border-color: transparent!important;
}

.login-page2-inner > main > label input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #e6e6e6 inset;
  color: var(--login-input);
  -webkit-text-fill-color: #333 !important;
}

.login-page2-inner > main > section {
  display: flex;
  gap: var(--gap);
}

.login-page2-inner > main > section > button:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}
.login-page2-inner > main > section > button {
  font-weight: bold;
  color: var(--login-btn);
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--login-btn-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  outline: none!important;
  border: none;
  cursor: pointer;
  appearance: button;
  touch-action: manipulation;
  font-size: 16px;
}

.login-page2-inner > main > section > button:hover:not(:disabled) {
  background: var(--login-btn-bg-hover);
}
.login-page2-inner > main > section > button:active:not(:disabled) {
  background: var(--login-btn-bg-active);
}

.login-page2-inner > main > label {
  display: flex;
  align-items: center;
}

.login-page2-inner > main > label > :last-child:not(input) {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 31px;
  transition: all .4s;
  display: flex;
  align-items: center;
}

.login-page2-inner > main > label input:focus + :last-child:not(input) {
  color: var(--login-btn-bg);
  left: 28px;
}

.login-page2-inner > main > label input {
  box-shadow: 0 0;
}
.login-page2-inner > main > label input:focus {
  box-shadow: 0 0;
}
.login-page2-inner > main > label input:focus {
  box-shadow: 0 0 0 0 var(--login-btn-bg-focus);
  animation: anim-shadow .5s ease-in-out forwards
}

@keyframes anim-shadow {
  to {
      box-shadow: 0 0 70px 25px transparent;
  }
}

@media(max-width: 992px) {
  .login-page2-inner {
    width: 50%;
    padding: 33px 95px 33px 95px;
    justify-content: center;
  }
}

@media(max-width: 768px) {
  .login-page2-inner > aside {
    display: none;
  }

  .login-page2-inner {
      width: 100%;
  }
}

@media(max-width: 576px) {
}